

<form method="get">
    <div class="form-group row">
        <label for="search" class="col-sm-2 col-form-label">Search</label>
        <div class="col-sm-10">
            <input type="text" name="search" class="form-control" />
        </div>
    </div>
    <a href="#" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list">
        </span>List
    </a> <a href="#" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid
    </a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
