@using Microsoft.SqlServer.Server
@model DataGridViewModel

@{
    var jsonFields = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Headers);
    var jsonItems = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Items);

}

<template id="DataGridDemo">
    <v-data-table :headers="headers"
                  :items="items"
                  class="elevation-1">
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog"
                  max-width="500px">
            <v-btn slot="activator"
                   color="primary"
                   dark
                   class="mb-2">
                New Item
            </v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">
                        {{ formTitle }}
                    </span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12
                                    sm6
                                    md4>
                                <v-text-field v-model="editedItem.name"
                                              label="Dessert name"></v-text-field>
                            </v-flex>
                            <v-flex xs12
                                    sm6
                                    md4>
                                <v-text-field v-model="editedItem.calories"
                                              label="Calories"></v-text-field>
                            </v-flex>
                            <v-flex xs12
                                    sm6
                                    md4>
                                <v-text-field v-model="editedItem.fat"
                                              label="Fat (g)"></v-text-field>
                            </v-flex>
                            <v-flex xs12
                                    sm6
                                    md4>
                                <v-text-field v-model="editedItem.carbs"
                                              label="Carbs (g)"></v-text-field>
                            </v-flex>
                            <v-flex xs12
                                    sm6
                                    md4>
                                <v-text-field v-model="editedItem.protein"
                                              label="Protein (g)"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1"
                           flat
                           v-on:click="close">
                        Cancel
                    </v-btn>
                    <v-btn color="blue darken-1"
                           flat
                           v-on:click="save">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <template slot="items" slot-scope="props">
            @foreach (var header in Model.Headers)
            {
                <td>
                    {{props.item.@header.text}}
                </td>
            }

        </template>
    </v-data-table>
</template>

<script>
        var dataGridDemo = Vue.component('comp-datagriddemo',
            {
                template: '#DataGridDemo',
                data: function () {
                    return {
                        headers: @Html.Raw(jsonFields),
                        items: @Html.Raw(jsonItems),
                    }
                },
                methods: {

                }

            });
</script>
